pandas
tqdm
streamlit
streamlit-drawable-canvas
opencv-python
Pillow
numpy
scikit-learn
qdrant-client
ultralytics
torch
transformers
sentence-transformers
requests
matplotlib
git+https://github.com/openai/CLIP.git
translate
gnupg
